DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
PORT=8000
DATABASE_PATH=./data/db.sqlite3
DATA_DIR=./data
TIME_ZONE=Europe/London
GENERAL_PASSCODE=gooners
ADMIN_PASSCODE=gooners-admin
# Prefer hashes in production:
# GENERAL_PASSCODE_HASH=pbkdf2_sha256$...
# ADMIN_PASSCODE_HASH=pbkdf2_sha256$...
